body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.div-parent > div {
    padding: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}